{% extends "master.html" %}

{% block content %}
<H1>Exchange List</H1>
<pre>
    Amount Unit:
    BTC : Satoshi
    LTC : Litoshis
    DASH : Duff
    BCH : Satoshi
</pre>
<p>Caution:</p>
<p>Once submit the request, it cannot be undone</p>
<p>Virtual Assets is Highly Risky</p>
<p>Think Twice before press any button</p>
<table style="border: 2px solid seagreen; padding: 5px;">
    <tr>
        <td>Currency</td>
        <td>Side</td>
        <td>Amount</td>
        <td>Price</td>
        <td>Deal</td>
    </tr>
    {% for x in finalexlist reversed %}
    <tr>
        <td>{{ x.currency }}</td>
        <td>{{ x.side }}</td>
        <td>{{ x.amount }}</td>
        <td>{{ x.price }}</td>
        <td><a href="confirm/{{ x.id }}">Deal</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}