{% extends "master.html" %}

{% block content %}

{% load static %}
<script src="{% static 'info.js' %}"></script>

<H1>Information</H1>
<form name="infoform" onchange="changecontent()">
    <input type="radio" id="platform" name="info" value="platform">
    <label for="platform">Our Platform</label>
    <input type="radio" id="Bitcoin" name="info" value="Bitcoin">
    <label for="Bitcoin">Bitcoin</label>
    <input type="radio" id="Litecoin" name="info" value="Litecoin">
    <label for="Litecoin">Litecoin</label>
    <input type="radio" id="Dash" name="info" value="Dash">
    <label for="Dash">Dash</label>
    <input type="radio" id="BitcoinCash" name="info" value="BitcoinCash">
    <label for="BitcoinCash">Bitcoin Cash</label>
</form><br>

<div id="content"></div>

<div><a id="web" href="" target="_blank"></a></div>

<div id="BitcoinText" style="display: none;">
    <pre>
        Bitcoin is a protocol which implements a highly available, public, permanent, and decentralized ledger. In order to add to the ledger, a user must prove they control an entry in the ledger. The protocol specifies that the entry indicates an amount of a token, bitcoin with a minuscule b. The user can update the ledger, assigning some of their bitcoin to another entry in the ledger. Because the token has characteristics of money, it can be thought of as a digital currency.

        Bitcoin transactions are verified by network nodes through cryptography and recorded in a public distributed ledger called a blockchain. The cryptocurrency was invented in 2008 by an unknown person or group of people using the name Satoshi Nakamoto. The currency began use in 2009, when its implementation was released as open-source software. The word "bitcoin" was defined in a white paper published on October 31, 2008. It is a compound of the words bit and coin.

        The Library of Congress reports that, as of November 2021, nine countries have fully banned bitcoin use, and a further forty-two have implicitly banned it. A few governments have used bitcoin in some capacity. El Salvador has adopted Bitcoin as legal tender, although use by merchants remains low. Ukraine has accepted cryptocurrency donations to fund the resistance to the 2022 Russian invasion. Iran has used bitcoin to bypass sanctions.

        Bitcoin has been described as an economic bubble by at least eight recipients of the Nobel Memorial Prize in Economic Sciences.

        The environmental effects of bitcoin are substantial. Its proof-of-work algorithm for bitcoin mining is designed to be computationally difficult, which requires the consumption of increasing quantities of electricity, the generation of which has contributed to climate change. According to the University of Cambridge, bitcoin has emitted an estimated 200 million tonnes of carbon dioxide since its launch, or about 0.04% of all carbon dioxide released since 2009. \n
    </pre>
</div>

<div id="LitecoinText" style="display: none;">
    <pre>
        Litecoin is a decentralized peer-to-peer cryptocurrency and open-source software project released under the MIT/X11 license. Inspired by Bitcoin, Litecoin was among the earliest altcoins, starting in October 2011. In technical details, the Litecoin main chain shares a slightly modified Bitcoin codebase. The practical effects of those codebase differences are lower transaction fees, faster transaction confirmations, and faster mining difficulty retargeting. Due to its underlying similarities to Bitcoin, Litecoin has historically been referred to as the "silver to Bitcoin's gold." In 2022, Litecoin added optional privacy features via soft fork through the MWEB (MimbleWimble extension block) upgrade.

        By 2011, Bitcoin mining was largely performed by GPUs. This raised concern in some users that mining now had a high barrier to entry, and that CPU resources were becoming obsolete and worthless for mining. Using code from Bitcoin, a new alternative currency was created called Tenebrix (TBX). Tenebrix replaced the SHA-256 rounds in Bitcoin's mining algorithm with the scrypt function, which had been specifically designed in 2009 to be expensive to accelerate with FPGA or ASIC chips. This would allow Tenebrix to have been "GPU-resistant", and utilize the available CPU resources from bitcoin miners. Tenebrix itself was a successor project to an earlier cryptocurrency which replaced Bitcoin's issuance schedule with a constant block reward (thus creating an unlimited money supply). However, the developers included a clause in the code that would allow them to claim 7.7 million TBX for themselves at no cost, which was criticized by users.

        Lee released Litecoin via an open-source client on GitHub on October 7, 2011. The Litecoin network went live on October 13, 2011. Litecoin was a source code fork of the Bitcoin Core client, originally differing by having a decreased block generation time (2.5 minutes), increased maximum number of coins, different hashing algorithm (scrypt, instead of SHA-256), faster difficulty retarget, and a slightly modified GUI.
    </pre>
</div>

<div id="DashText" style="display: none;">
    <pre>
        Dash is an open source cryptocurrency. It is an altcoin that was forked from the Bitcoin protocol. It is also a decentralized autonomous organization (DAO) run by a subset of its users, which are called "masternodes".

        The currency was launched in January 2014 as "Xcoin" by Evan Duffield, as a fork of the Bitcoin protocol. It is an altcoin and in its early days it was subject to pump and dump speculation. It was rebranded as Darkcoin, which received press for being used in dark net markets. In March 2015, it rebranded again with the name Dash as a portmanteau of 'digital cash'. As of August 2016, Dash is no longer used in any major dark net markets worth noting.

        In early 2017 Duffield, who lived in the Phoenix area, and some other people working on Dash took space in a business incubator at Arizona State University. The Dash DAO later funded a blockchain research lab at ASU. As of April 2018, Dash's market capitalization was around $4.3 billion and it was one of the top 12 cryptocurrencies. As of February 2019, Dash was the most popular cryptocurrency in Venezuela according to Der Spiegel. In October 2022 Dash had a valued market capitalisation of 450 million USD.

        Dash, like Bitcoin, has a block reward. The block reward in the case of Bitcoin has halved, but in the case of Dash, the block reward only decreases by 7.14% every 210240 blocks. The block time of Dash is 2.5 minutes, which means that on average, a decrease occurs every 365 days. The current block reward is 2.68 Dash + transaction fees. The block reward after the reduction will be 2.49 Dash + transaction fees.
    </pre>
</div>

<div id="BitcoinCashText" style="display: none;">
    <pre>
        Bitcoin Cash is a cryptocurrency that is a fork of Bitcoin. Bitcoin Cash is a spin-off or altcoin that was created in 2017. In November 2018, Bitcoin Cash split further into two cryptocurrencies: Bitcoin Cash and Bitcoin SV.

        Since its inception, Bitcoin users had maintained a common set of rules for the cryptocurrency. On 21 July 2017, bitcoin miners locked-in a software upgrade referred to as Bitcoin Improvement Proposal (BIP) 91, which meant that the Segregated Witness upgrade would activate at block 477,120. Segwit controversially would enable second layer solutions on bitcoin such as the Lightning Network. A key difference of opinion between Bitcoin users was over the running of nodes. Bitcoin supporters wanted to keep blocks small so that nodes could be operated with less resources, while some large block supporters find it acceptable that (due to large block sizes), nodes might only be run by universities, private companies and nonprofits.

        A group of bitcoin activists, developers, and China-based miners were unhappy with Bitcoin's proposed SegWit improvement plans meant to increase bitcoin's capacity; these stakeholders pushed forward alternative plans which would increase the block size limit to eight megabytes through a hard fork. Supporters of a block size increase were more committed to an on-chain medium of exchange function.

        In June 2017, hardware manufacturer Bitmain, described the would-be hard fork with the increased block size as a "contingency plan", should the bitcoin community decide to fork implementing SegWit. The first implementation of the software was proposed under the name Bitcoin ABC at a conference that month. In July 2017, mining pool ViaBTC proposed the name Bitcoin Cash. In July 2017 Roger Ver and others stated they felt that adopting BIP 91 (that would later activate SegWit) favored people who wanted to treat bitcoin as a digital investment rather than as a transactional currency. The fork that created Bitcoin Cash took effect on 1 August 2017. In relation to Bitcoin it is characterized variously as a spin-off, a strand, a product of a hard fork, an offshoot, a clone, a second version or an altcoin.
    </pre>
</div>

<div id="platformText" style="display: none;">
    <pre>
        About Us:

        This centralized cryptocurrency exchange platform has been built with utmost attention to the requirements set forth by the Securities and Futures Commission (SFC) of Hong Kong. It must be licensed and regulated by SFC and respond to all the enquiries and cooperate with the investigation raised by the related authorities. This platform closely observes the regulatory requirements indicated in the SFC’s published consultation paper on the regulatory requirements for virtual asset trading platform operators. 

        Virtual asset is a very risky investment. Some virtual assets may not be defined as “property” under the law, so the transaction may not be covered by the protection of the Investor Compensation Fund. They are not back by the government or any authority, the value of it to exchange for fiat money is totally decided by the willingness of the market, so there is a potential risk of total lost. The use of the cryptocurrency is highly susceptible to the change of the regulation, legality and technology.

        Our platform established a control system to find out any market manipulating and abusive trading activity. Any abnormal phenomenon like price spikes or abusive trading will be spotted. Once there is a report, the system allows us to trace down all the clients involved in the activity. All the clients and the transfer request will be suspended until further investigation. Any client violates the rules will be banned forever. A full report will be sent to the SFC after the investigation. 

        Our platform will keep all the order instructions requested by the clients and all the account information. Since we do not accept any telephone order, there will be no telephone record.

        All the record will be kept both electronically and back up physically. To ensure that all the financial position, profit or loss, balance sheets of the account, movement of the assets can be traced. These records will be used in auditing. 

        Any further request, please contact us via the complaint page
    </pre>
</div>

{% endblock %}