{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>CExchange</title>
</head>

<body>
    <h1 style="white-space: nowrap;">Welcome to the CExchange</h1>
    {% if user.is_authenticated %}
        <p>User: {{ user.get_username }}</p>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'add' %}">Sign Up</a>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <br><br>
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'checkout' %}">Charge</a></li>
        <li><a href="{% url 'make_ex' %}">Make Exchange</a></li>
        <li><a href="{% url 'my_ex' %}">My Exchange</a></li>
        <li><a href="{% url 'ex_list' %}">Exchange List</a></li>
    </ul>
    <br><br>
    {% block content %}
    {% endblock %}
</body>
</html>